default_language_version:
    python: python3.12
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-yaml
        args:
        - --unsafe
    -   id: check-toml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    -   id: ruff
        args:
        - --fix
        - --exit-non-zero-on-fix
    -   id: ruff-format
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: python-check-blanket-noqa
-   repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
    -   id: markdownlint
        args:
        - --disable
        - MD013
